/* for the menu  ***  ---  */
body {
  font-size: 15-px;
  background: #F9FCFC;
  line-height: 1.7em; }

.jumbotron {
  padding: 0;
  margin: 0; }

.marketing .card {
  margin-bottom: 10px; }

.jumbotron .main-img {
  width: 100%; }

.marketing {
  text-align: center;
  margin-top: 10px; }

.fa {
  color: #ef4a24;
  text-align: center; }

.fa-3 {
  font-size: 3em; }

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 130px;
  background-image: url("../img/main-image.jpg");
  background-size: cover;
  color: white;
  position: relative;
  z-index: -10; }

.overlay {
  width: 100%;
  height: 100%;
  background: black;
  opacity: .5;
  position: absolute;
  z-index: -5; }

article.post img {
  width: 100%; }

.cus-1 img {
  width: 100%; }

.hero {
  padding-top: 240px;
  padding-bottom: 60px; }

/* hi  */
/* for the menu  ***  ---  */
.nav-item a {
  color: #ffffff; }

.navbar {
  border-bottom: 3px solid #ef4a24; }

.jumbotron {
  padding: 0;
  margin: 0; }

.marketing .card {
  margin-bottom: 10px; }

.jumbotron .main-img {
  width: 100%; }

.marketing {
  margin-top: 10px; }

.navbar-toggler-icon {
  background: white; }

.fa-bar-chart {
  color: #ef4a24; }

.content-region-1 {
  background: #444;
  padding-top: 24px;
  margin-top: 15px;
  border-top: 3px solid #ef4a24; }

footer {
  border-top: 3px solid #ef4a24;
  background: #3D2937;
  margin-top: 30px;
  color: white; }

footer ul li a {
  color: white; }

.footer-main {
  padding-top: 15px; }

.ft-one {
  border-left: #d9d9d9 1px solid; }

.clients h3 {
  padding: 10px;
  border-bottom: 1px solid red;
  margin-bottom: 15px; }

article.post img {
  width: 100%; }

.meta ul {
  padding: 0; }

.meta ul li {
  list-style: none;
  display: inline-block;
  text-align: left; }
